#tabella {
  color: green;
  text-align: center;
  position: fixed;
  left: 20%;
  top: 20%;
  right: 20%;
}

td {
  cursor: pointer;
}
.titolo {
  color: aqua;
  text-align: center;
}

#fondo {
  position: fixed;
  right: 2%;
  bottom: 2%;
}
